Makefile
/Makefile.am
Makefile.am.common
Makefile.in
aclocal.m4
autodocs-cc.*
autodocs-ycp.*
autodocs-cc-base.*
autodocs-cc-off.*
autom4te.cache
config.*
configure
configure.in
configure.ac
install-sh
pluglib-bindings.ami
*/.dep
library/*/.dep
library/*/*/.dep
library/*/*.ybc
library/*/*/*.ybc
library/*/*/*/*.ybc
doc/autodocs
library/*/doc/autodocs
library/*/testsuite/config/
library/*/testsuite/run/
library/*/testsuite/yast2.test/
library/*/testsuite/*.err.*
library/*/testsuite/*.out.*
library/*/testsuite/*.log
library/*/testsuite/*.sum
library/*/testsuite/*.exp
library/*/testsuite/*.bak
library/*/test/*.log
library/*/test/*.trs
/test-driver

doc/yast.8


# Generated
/library/general/src/modules/Version.rb
library/network/src/scrconf/network.scr
missing
library/packages/src/packages

# Package
package/yast2-*.tar.bz2
package/yast2.spec

# other
home:*:*
YaST:Head
*.sw?
library/modules/Version.ycp
library/network/agents/network.scr
