Makefile
Makefile.am
Makefile.am.common
Makefile.in
aclocal.m4
autodocs-cc.*
autodocs-ycp.*
autodocs-cc-base.*
autodocs-cc-off.*
autom4te.cache
config.*
configure
configure.in
install-sh
pluglib-bindings.ami
library/*/.dep
library/*/*/.dep
library/*/*.ybc
library/*/*/*.ybc
library/*/*/*/*.ybc
library/*/doc/autodocs
library/*/testsuite/config/
library/*/testsuite/run/
library/*/testsuite/yast2.test/

# Generated
library/modules/Version.ycp
library/network/agents/network.scr
missing
library/packages/src/packages
